<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Joe Pizza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    @using Microsoft.AspNetCore.Identity
    
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
    @{
        var user = await UserManager.GetUserAsync(User);

    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Joe Pizza</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">



                    @if (SignInManager.IsSignedIn(User))
                    {

                        var list = await UserManager.GetRolesAsync(user);


                        @**@
                        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                            <ul class="nav navbar-nav navbar-right">
                                @if (list.Count > 0 && list[0] == "Admin")
                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Home" asp-action="AdminIndex">Manage Pizza</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="ManageOrder" asp-action="Index">Manage Order</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark myorder" asp-controller="Order" asp-action="Index">My Orders</a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <button type="submit" class="btn btn-link nav-link logout"><i class="fa fa-sign-out"></i>&nbsp;Log out</button>
                                </li>
                            </ul>
                        </form>

                    }
                    else
                    {
                        <ul class="nav navbar-nav ">

                            <li class="nav-item ">
                                <a class="nav-link text-dark register" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark login" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        </ul>
                    }
                    <ul class="nav navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark home" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       

                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        @if (SignInManager.IsSignedIn(User))
        {
            <h2>Welcome - @user.NormalizedUserName</h2>
        }
        @RenderBody()

    </div>


    <br><br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Joe Pizza By Ankit Pithalia
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>